/*Ш Р И Ф Т Ы   Ч Е Р Е З   G O O G L E   F O N T S   И  С К А Ч А Н Н О Е */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,600;1,700&display=swap');
@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Font") format("truetype");
  font-style: normal;
  font-weight: 400;
}

/*С Т И Л И   П О   У М О Л Ч А Н И Ю*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #fff;
  font-family: 'Gotham', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
a {
  text-decoration: none;
  margin: 0;
}
ul, li {
  display: block;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}


/*О Б Щ И Е   С Т И Л И   Д Л Я   К Л А С С О В*/
.container {
  width: 85%;
  margin: 2% auto 0;
}

.hide {
  display: none;
}

/*N A V   B A R   S T Y L E S */
.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo_wrapper {
  width: 6%;
}
.navbar__logo {
  width: 100%;
}
.navbar__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.navbar__item > a {
  color: #fff;
  display: inline-block;
  padding: 15px;
  position: relative;
}
.navbar__item > a::after {
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar__item > a:hover::after { 
  width: 100%; 
  left: 0; 
}
.navbar__btn {
  width: 10%;
  height: 45px;
  padding: 5px;
  background-color: #000000;
  color: #fffdfd;
  border: 1px solid #ffffff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-family: 'Gotham', sans-serif;
  transition: 0.5s;
}
.navbar__btn:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 0.5s ease;
  cursor: pointer;
}
.navbar__btn::before {
  top:0; bottom: 0; right: 0;
  height: 100%; width: 100%;
  opacity: 1;
}
.navbar__burger-btn {
  display: none;
}

/*H E A D E R   S T Y L E S */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
}
.header__text-block {
  position: relative;
  width: 43%;
  top: 15px;
}
.header__title {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 185px;
  line-height: 90%;
  letter-spacing: -5px;
}
.header__title-2 {
  margin: 10px 0 40px;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 125px;
  line-height: 100%;
  background: linear-gradient(90deg, #FA709A 0%, #FEE140 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__icons-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.header__icons-img {
  width: 55px;
} 
.header__star {
  width: 10%;
  position: relative;
  bottom: 180px;
}
.header__img_wrapper {
  width: 43%;
}
.header__img-block {
  width: 100%;
}


 /*S K I L L S    S T Y L E S */

.skills {
  margin-bottom: 100px;
} 

.skills__title {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 40px;
}

.skills__block-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills__item {
  display: flex;
  width: 49%;
  height: 250px;
  margin-bottom: 40px;
  border: 0.45px solid #737373;
}
.skills__item-around {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.around-img {
  width: 80%;
}
.skills__item-title_wrapper {
  width: 63%;
  padding: 50px 0;
}
.skills__item_title {
  font-weight: 600;
  font-size: 35px;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.skills__item-text {
  font-size: 18px;
  letter-spacing: -1px;
}



/*C O N T E N T    S T Y L E S    S T A R T */
.content {
  margin-bottom: 200px;
}
.content__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.content__block_text {
  width: 50%;
}
.content__title {
  font-family: 'Anton', sans-serif;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 40px;
}
.content__text {
  width: 75%;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: -2px;
}
.tecxt-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-top-center {
  display: flex;
  align-items: center;
}
.gradient {
  color: rgba(250, 112, 154, 1);
}
.gradient-2 {
  color: rgba(254, 225, 64, 1);
}
.gradient-3 {
  color: rgba(132, 250, 176, 1);
}
.gradient-4 {
  color: rgba(143, 211, 244, 1);
}
.gradient-5 {
  color: rgba(224, 195, 252, 1);
}
.gradient-6 {
  color: red;
}
.content__block_img {
  width: 50%;
}
.content__img {
  width: 100%;
}


/*F O O T E R    S T Y L E S    S T A R T */

.footer {
  background-color: #292929;
  height: 120px;
  padding-top: 5px;
}
.footer__img_wrapper {
  width: 25%;
}
.footer-logo {
  width: 100%;
}
.footer__wrapper {
  display: flex;
  justify-content: center;  
  align-items: center;
}